<div style="height:56px;"></div>
<div style="text-align:center;">

<h1 style="font-family:Courier,Courier New;color:#FF0000;">hello, world</h1>

<p style="font-family:Times,Times New Roman,Arial;">This website is currently under construction, it will be back shortly.</p>

<p style="font-family:Times,Times New Roman,Arial;">Thank you.</p>

<p style="font-family:Georgia,Arial;">:-)</p>

</div>